@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@font-face {font-family: FontAwesomeBrands; src: url("fontawesome/fa-brands-400.ttf");}
@font-face {font-family: FontAwesomeRegular;  src: url("fontawesome/fa-regular-400.ttf");}
@font-face {font-family: FontAwesomeSolid;  src: url("fontawesome/fa-solid-900.ttf");}

@import 'reset';
@import 'style';