$textMain: #006161;
$bgMain: #1b3535;
$secondaryColor: #a93c0d;
$error: #970b0b;
$valide: #0b9726;

/* Global */
body {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding-bottom: 35px;
	text-align: center;
	line-height: 1.5;
	font-family: sans-serif;
	background-color: $bgMain;
}
h1 {
	a {
		color: white;
		text-decoration: unset;
	}
	& + p {
		font-size: 1rem;
		color: white;
		width: 100%;
		margin-bottom: 25px;
	}
}
section {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-evenly;
    align-items: center;
    width: 100%;
    min-height: 300px;
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 2px;
	background-color: white;
    color: #191919;

    @media (max-width: 768px) {
    	margin-left: 10px;
    	margin-right: 10px;
    }

    & > p {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		font-size: 0.9rem;
    }

    a {
    	color: $textMain;
    	text-decoration: unset;
    	&:hover {
    		text-decoration: underline;
    	}
    }
}
figure {
    font-size: 1.2rem;
    padding: 0 35px;
}
figcaption {
	margin-top: 10px;
	cite {
		font-style: italic;
	}
}
h1 {
	font-size: 3.5rem;
	margin-top: 20px;
	margin-bottom: 20px;
	font-family: 'Pacifico', cursive;
	color: white;
}
a[target="_blank"]:after {
	content: "\f35d";
	font-family: FontAwesomeSolid;
    margin-left: 7px;
    font-size: 0.7rem;
    vertical-align: super;
}
form[name="QCM"] ul {
	display: flex;
	flex-wrap: wrap;
	padding: 0 35px;
	margin-top: 20px;
	li {
		display: flex;
		width: 50%;
	}
}
input[type="radio"] {
	display: none;
	& + label {
	    border: 2px dotted #191919;
	    color: #191919;
	    padding: 20px 20px;
	    width: 100%;
	    margin: 5px;
	    cursor: pointer;
	}
	& + label:hover {
	    border: 2px solid $secondaryColor;
	    color: $secondaryColor;
	}
	&:disabled + label {
		opacity: 0.5;
		border: 2px dotted #191919;
	    color: #191919;
	}
	&:checked + label {
		background-color: $error;
		border: 2px solid $error;
		color: white;
		opacity: 1;
	}
	&[value="1"]:checked + label {
		background-color: $valide;
		border: 2px solid $valide;
		color: white;
	}
}

/* Module */
#quoteId {
	font-weight: bold;
}

#ratingId {
	font-size: 1.8rem;
	position: relative;

	&:before {
		content: "★★★★★";
		position: absolute;
		display: inline-block;
		overflow: hidden;
		top: 0;
		left: 0;
	}
	&:after {
		content: "★★★★★";
		position: static;
		opacity: 0.3;
	}
	&[class="0.5"]:before {
	    max-width: 10%;
	}
	&[class="1"]:before {
	    max-width: 20%;
	}
	&[class="1.5"]:before {
	    max-width: 30%;
	}
	&[class="2"]:before {
		max-width: 40%;
	}
	&[class="2.5"]:before {
	    max-width: 50%;
	}
	&[class="3"]:before {
		max-width: 60%;
	}
	&[class="3.5"]:before {
	    max-width: 70%;
	}
	&[class="4"]:before {
		max-width: 80%;
	}
	&[class="4.5"]:before {
	    max-width: 90%;
	}
	&[class="5"]:before {
		max-width: 100%;
	}
}
#generateId {
    width: 100%;
    margin-left: 20%;
    margin-right: 20%;
	padding: 10px 20px;
	margin-top: 25px;
	font-size: 1.2rem;
	cursor: pointer;

	@media (max-width: 768px) {
    	margin-left: 10px;
    	margin-right: 10px;
    }
}
.counter {
	display: flex;
	justify-content: center;
	width: 100%;
	margin-top: 25px;
	font-size: 1rem;
	color: #191919;
	span {
		margin-right: 0.25rem;
	}
	p {
		font-weight: bold;
	}
}

#alertAnswer {
	font-size: 1.5rem;
	margin-top: 20px;
	&.false {
		color: $error;
	}
	&.true {
		color: $valide;
	}
}
#alertAnswerTrue {
	font-size: 1.5rem;
	span {
		font-weight: bold;
		margin-left: 0.25rem;
	}
}

#resetId {
    font-size: 1.2rem;
    color: white;
    margin-top: 25px;
    border: 1px dashed white;
    padding: 10px 20px;
    width: 100%;
    margin-left: 20%;
    margin-right: 20%;
    justify-content: center;
}

aside {
	width: 100%;
}